<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReserveCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReserveCopier.Properties.Settings>
            <setting name="InputPaths" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>c:\tmp</value>
            </setting>
            <setting name="CopyModeValue" serializeAs="String">
                <value>Разностное относительно первой копии</value>
            </setting>
            <setting name="FullCopyPeriodic" serializeAs="String">
                <value>Еженедельно</value>
            </setting>
            <setting name="DayOfWeekCheck" serializeAs="String">
                <value/>
            </setting>
            <setting name="periodicHours" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastDiffPath" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="LastDiffTime" serializeAs="String">
                <value>2020-01-01</value>
            </setting>
            <setting name="LastFullTime" serializeAs="String">
                <value>2020-01-01</value>
            </setting>
            <setting name="PeriodicMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoScroolLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartCopy" serializeAs="String">
                <value>False</value>
            </setting>
        </ReserveCopier.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
